.container {
  @apply flex flex-row w-screen h-screen;
  /* margin: 2rem 0 0 5rem; */
}

.sidebar {
  @apply p-1 w-2/6 mt-24;
  margin-top: 10rem;
  margin-left: 5rem;
}

.main {
  @apply p-1 w-4/6 h-screen;
  margin: 4rem 0 2rem 0;
}

.heading {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.lead {
  font-size: 2rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.03rem;
  margin: 0 0 7.5rem 0;
}

.contact {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}
